<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/tworitdash/" target="_blank">@tworitdash</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/tworitdash/" target="_blank">@tworitdash</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/pub/tworit-dash/7a/490/7" target="_blank">linkedin.com/in/tworitdash</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://tworitdash.in/" target="_blank">tworitdash.in</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:tworitdash@gmail.com" target="_blank">tworitdash@gmail.com</a></p>
